button{
	border: none;
	background: none;
	height:60px;
}

button:hover{
	background:#000000;
}

.toolbar{
	display:flex;
	justify-content:center;
	gap:20px;
	align-items:center;
}

#containereditor{
	max-width:800px;
	margin:20px auto;
	height:200px;
	border:1px SOLID #000000;
}